<html>
    <head>
        <title>Intelligent admission</title>
    </head>
    <style>
        body{
            background : url('Documents\maha\maha.jpeg');
            background-size: cover;
        }
    </style>
    
    <body>
       <center>
        <h1 style="color: royalblue;">UNIVERSITY ADMISSION PREDICTION SYSTEM</h1></center>
        <h2 style="display: inline-flex;">Enter your details and get probability of your admission</h2>
      <form>
        Enter GRE score <input type="number" name="n1"><br><br>
        Enter TOEFL score <input type="number" name="n2">
        <p>Select University number</p>
        <input type="radio" id="1" value="1"><label for="1">1</label><br>
        <input type="radio"  id= "2" value="2"><label for="2">2</label><br>
        <input type="radio" id="3"  value="3"><label for="3">3</label><br>
        <input type="radio" id="4"  value="4"><label for="4">4</label><br>
        <input type="radio" id="5" value="5"><label for="5">5</label><br>
    Enter SOP  <input type="number" name="n3"><br><br> 
    Enter LOR  <input type="number" name="n4"><br><br> 
    Enter CGPA <input type="number" name="n5"><br><br> 
    <input type="radio" id="re" value="Research"><label for="re">Research</label><br>
    <input type="radio" id="no" value="No-research"><label for="no">No-research</label><br><br>
    <button><a href="index2.html">
        Predict</a></button>
    </form>
    
      
    </body>
</html>