<html>
    <head>
     <title>Prediction</title>
    <link rel="stylesheet" href="style.css">
    <style>
        body{
            background-image: url('Documents\maha\maha1.jpeg');
            background-size: cover;
        }
    </style>
    </head>
    
<body>
  
  <h2 style="margin: 3em;">Predicting Chance of Admission</h2>
  <p style="margin: 2em;"> A Machine learning Web App using Flask</p>
  <p style="color: rgb(233, 10, 10);">Prediction : You have a chance</p>
</body>
</html>